Repository Kamilfo-Developer/python-backend-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-lock-check, make-format, make-lint

uv-lock-check:
  name: Check lock file with uv
  entry: uv lock --check
  language: system
  pass_filenames: false

make-format:
  name: make format
  entry: uv run make format
  language: system
  pass_filenames: false

make-lint:
  name: make lint
  entry: uv run make lint
  language: system
  pass_filenames: false

feat: add SQLAlchemy implementation for the specification pattern
  app/lib/utils/sa_specification.py
Due: make-format, make-lint

feat: add dev dependencies of the project
  pyproject.toml
  uv.lock
Due: uv-lock-check

Delete LICENSE
  LICENSE
Due: none

fix: add required dependencies
  Dockerfile
  app/lib/__init__.py
  app/lib/exceptions/__init__.py
  app/lib/models/__init__.py
  app/lib/models/base.py
  app/lib/repositories/__init__.py
  app/lib/repositories/base.py
  app/lib/repositories/db_context.py
  app/lib/repositories/sa_db_context.py
  app/lib/schemas/__init__.py
  app/lib/services/__init__.py
  app/lib/services/jwt.py
  app/lib/utils/__init__.py
  app/lib/utils/log.py
  pyproject.toml
  uv.lock
Due: uv-lock-check, make-format, make-lint

fix: add missing JWT dependencies
  pyproject.toml
  uv.lock
Due: uv-lock-check

Delete main.py
  main.py
Due: make-format, make-lint

feat: changed Litestar to FastAPI
  .env.example
  .envrc
  .gitignore
  app/app.py
  app/core/config.py
  app/dependencies/__init__.py
  app/dependencies/constructors.py
  app/dependencies/providers.py
  app/lib/exceptions/__init__.py
  app/lib/exceptions/base.py
  app/lib/exceptions/handler.py
  app/middlewares/__init__.py
  app/middlewares/idempotent_request.py
  app/middlewares/request_id.py
  app/routers/__init__.py
  app/routers/middlewares/idempotent_request.py
  app/routers/middlewares/request_id.py
  app/routers/v1/__init__.py
  app/routers/v1/ping.py
  app/routers/v1/router.py
  main.py
  migrations/clickhouse.py
  pyproject.toml
  uv.lock
Due: uv-lock-check, make-format, make-lint

feat: add basic README
  README.md
Due: none

fix: add better exception handlers
  app/lib/exceptions/handler.py
  deployment/docker-compose.local.yml
Due: make-format, make-lint

feat: add better application init process
  app/app.py
  app/lib/utils/openapi.py
Due: make-format, make-lint

feat: add examples to using the template
  app/app.py
  app/core/entities/example.py
  app/core/exceptions/example.py
  app/core/repositories/example.py
  app/dependencies/providers.py
  app/implementations/repositories/example.py
  app/lib/dependencies/constructors.py
  app/lib/fastapi_app.py
  app/lib/middlewares/__init__.py
  app/lib/middlewares/idempotent_request.py
  app/lib/middlewares/request_id.py
  app/lib/repositories/in_memory_db_context.py
  app/lib/schemas/base.py
  app/lib/utils/multisort.py
  app/routers/v1/example.py
  app/routers/v1/router.py
  app/schemas/example.py
  app/services/example.py
  app/types.py
  migrations/clickhouse.py
  pyproject.toml
  uv.lock
Due: uv-lock-check, make-format, make-lint

Update README.md
  README.md
Due: none

fix(env): fixed bug with unchanging env variables
  .envrc
  app/core/config.py
  app/lib/fastapi_app.py
  pyproject.toml
  uv.lock
Due: uv-lock-check, make-format, make-lint

feat: add Cursor rules for the project
  .cursor/rules
Due: none

feat: add a Cursor rule of never using old Python syntax such as Optional, List[Type], etc.
  .cursor/rules
Due: none

fix(cursor): chagned .cursor/rules to a directory
  .cursor/rules/project/mainrules.mdc
Due: none

refactore(cursor): add better cursor rules
  .cursor/rules/project/mainrules.mdc
Due: none

refactor(config): removed unused configs
  app/config.py
Due: make-format, make-lint

fix(config): fix bug with idempotency
  app/app.py
  app/dependencies.py
Due: make-format, make-lint

refactor(lib): refactor lib configs
  app/lib/dependencies/idempotency.py
  app/lib/dependencies/redis.py
  app/lib/dependencies/sqlalchemy.py
Due: make-format, make-lint

fix(openapi): fixed application title and description
  app/app.py
Due: make-format, make-lint

feat(jwt): add custom async PyJWT client
  app/lib/utils/pyjwt_async.py
Due: make-format, make-lint

feat(app): add AppBuilder
  app/__main__.py
  app/app.py
  app/lib/app.py
  tests/integration/conftest.py
Due: make-format, make-lint

feat(faststream): add OpenTelemetry to faststream
  app/lib/middlewares/faststream_opentelemetry.py
  app/routers/queues/router.py
Due: make-format, make-lint

docs(lib): add better docs for get_kafka_telemetry_middleware
  app/lib/middlewares/faststream_opentelemetry.py
Due: make-format, make-lint

feat(lib): add model mixins
  app/lib/models/mixins.py
  app/models/__init__.py
Due: make-format, make-lint

chore(model base): remove unused type variable
  app/lib/models/base.py
Due: make-format, make-lint

feat(pyproject.toml): add required dependencies
  pyproject.toml
  uv.lock
Due: uv-lock-check

feat(app): changed the way application created
  app/__main__.py
  uv.lock
Due: make-format, make-lint

Path conditions:
  uv-lock-check: any of: pyproject.toml$
  make-format: any of: ^.*\.py$
  make-lint: any of: ^.*\.py$
